.titleMain {
  font-size: 52px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: transparent;
  -webkit-text-stroke: 3px #ffffff;
}

.containerMain {
  display: flex;
  flex-direction: column;
}

.title-img {
  width: 100%;
  max-width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.buttonStay {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 100%);
  width: 160px;
  height: 70px;
  background-color: rgb(53, 36, 11);
  color: #fff;
  border: 3px #fff solid;
  border-radius: 10px;
  cursor: pointer;
}

span {
  padding-left: 18px;
  font-weight: 500;
  letter-spacing: 20px;
  font-size: 30px;
}