.show-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #fff;
}

.card{
  border: 3px rgb(53, 36, 11) solid;
  font-weight: 500;
  border-radius: 15%;
  padding: 30px;
  background-color: #a79e84;
  color: rgb(53, 36, 11);
  text-align: center;
  margin: 25px 0;
}

.show-title {
  font-size: 40px;
  font-weight: 900;
}

.show-period {
  font-size: 25px;

}

.show-image {
  width: 100%;
  border: 3px #fff solid;
}

button {
  padding: 10px;
  background-color: rgb(53, 36, 11);
  color: #fff;
  border-radius: 10px;
  border: 2px #fff solid;
}